<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SessionTrackingExample</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CookieSetterServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.CookieSetterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieGetterServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.CookieGetterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiddenFormFieldSetterServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.HiddenFormFieldSetterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiddenFormFieldGetterServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.HiddenFormFieldGetterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>URLRewritingSourceServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.URLRewritingSourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>URLRewritingDestinationServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.URLRewritingDestinationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpSessionAttributeSetterServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.HttpSessionAttributeSetterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpSessionAttributeGetterServlet</servlet-name>
    <servlet-class>com.company.sessiontracking.HttpSessionAttributeGetterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieSetterServlet</servlet-name>
    <url-pattern>/cookieSetter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieGetterServlet</servlet-name>
    <url-pattern>/cookieGetter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiddenFormFieldSetterServlet</servlet-name>
    <url-pattern>/hiddenFormFieldSetter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiddenFormFieldGetterServlet</servlet-name>
    <url-pattern>/hiddenFormFieldGetter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLRewritingSourceServlet</servlet-name>
    <url-pattern>/urlRewritingSource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLRewritingDestinationServlet</servlet-name>
    <url-pattern>/urlRewritingDestination</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpSessionAttributeSetterServlet</servlet-name>
    <url-pattern>/httpSessionAttributeSetter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpSessionAttributeGetterServlet</servlet-name>
    <url-pattern>/httpSessionAttributeGetter</url-pattern>
  </servlet-mapping>
</web-app>